<div [ngStyle]="{ width }" style="position: relative">
  <button [class.open]="isOpen" (click)="onClick(); $event.stopImmediatePropagation()">
    <div class="btn-content">
      <img class="mr-1" *ngIf="selectedOption.icon" [src]="'assets/icons/' + selectedOption.icon + '.svg'" alt="" />
      <span *ngIf="!selectedOption.icon"></span>
      <span>
        {{ selectedOption.name }}
      </span>
      <img *ngIf="isOpen" src="assets/icons/caret-down.svg" alt="Caret Down" />
      <img [ngStyle]="{ transform: 'rotate(-270deg)' }" *ngIf="!isOpen" src="assets/icons/caret-down.svg" alt="Caret Right" />
    </div>
  </button>

  <ul *ngIf="isOpen">
    <li (click)="onOptionClick(option)" *ngFor="let option of optionsToDisplay">
      <img class="mr-1" *ngIf="option.icon" [src]="'assets/icons/' + option.icon + '.svg'" alt="" />
      {{ option.name }}
    </li>
  </ul>
</div>
