<div [ngStyle]="{ width: width }" style="position: relative">
  <button [class.open]="isOpen" (click)="isOpen = !isOpen">
    <div class="btn-content">
      <span>{{ selected.name }}</span>
      <img *ngIf="isOpen" src="assets/icons/caret-down.svg" alt="" />
      <img [ngStyle]="{ transform: 'rotate(-270deg)' }" *ngIf="!isOpen" src="assets/icons/caret-down.svg" alt="" />
    </div>
  </button>

  <ul *ngIf="isOpen">
    <li (click)="onSelect(option)" *ngFor="let option of optionsToDisplay">
      {{ option.name }}
    </li>
  </ul>
</div>
