<app-divider>Deutschland</app-divider>

<div class="table mt-05">
  <!-- 7T Incidence -->
  <div class="col">
    <app-col-content>
      <ng-template #title>7-Tage-Inzidenz</ng-template>
      <ng-template #desc
        >COVID-19 Fälle in den letzten sieben Tagen (je 100T Einwohner). <br /><br />
        Die kurzzeitig gehypte Hospitalisierungsinzidenz hat sich aufgrund des großen Meldeverzugs der Krankenhäuser als unzuverlässige Metrik erwiesen.
      </ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        <app-incidence-tag [incidence]="germany.incidence"></app-incidence-tag>
      </ng-template>
    </app-col-content>
  </div>

  <!-- New Cases -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Neuinfektionen</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        {{ germany.newCases | thousandPoint }}
      </ng-template>
    </app-col-content>
  </div>

  <!-- Total Cases -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Fälle insgesamt</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        {{ germany.totalCases | thousandPoint }}
      </ng-template>
      <ng-template #desc> Es haben sich {{ percentInfected | round: 2 }}% der Deutschen mit COVID-19 infiziert. </ng-template>
    </app-col-content>
  </div>

  <!-- Total Cases -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Tote insgesamt</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        {{ germany.totalDeaths | thousandPoint }}
      </ng-template>
      <ng-template #desc> Es sind {{ percentDeaths | round: 2 }}% der infizierten Deutschen an der Krankheit gestorben. </ng-template>
    </app-col-content>
  </div>

  <!-- First Time Vaccinated -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Mind. einmal Geimpfte</ng-template>
      <ng-template #desc
        >Die bisherige Unterscheidung zwischen Erstgeimpften und vollständig Geimpften ist aufgrund der nachlassenden Wirkung der Impfstoffe nicht mehr zeitgemäß.
        <br />
        <br />
        Wir halten es außerdem für naheliegend, dass sich eine Person, die mind. einmal geimpft wurde auch regelmäßig boostern lassen wird. Die tatsächliche Zahl der vollständig immunisierten Personen
        wird sich also in kurzer Zeit der Zahl der mind. einmal Geimpften angleichen.</ng-template
      >
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>{{ vaccination.percentAtLeastOnceVaccinated }}%</ng-template>
    </app-col-content>
  </div>
</div>
