<p class="table-label">
  Deutschland
  <span class="fw-4">(Stand: {{ germany.lastUpdated | germanDate }})</span>
</p>
<table class="mt-05">
  <tr>
    <td>7T Inzidenz</td>
    <td>
      <app-incidence-tag [incidence]="germany.incidence"></app-incidence-tag>
    </td>
  </tr>
  <tr>
    <td class="td-desc" (click)="isHospitalizationIncidenceDescriptionVisible = !isHospitalizationIncidenceDescriptionVisible" style="position: relative">
      <span>
        <img *ngIf="!isHospitalizationIncidenceDescriptionVisible" style="transform: rotate(-90deg)" src="assets/icons/caret-down-gray.svg" alt="" />
        <img *ngIf="isHospitalizationIncidenceDescriptionVisible" src="assets/icons/caret-down-gray.svg" alt="" />
      </span>
      7T Hospitalisierungsinzidenz
      <p *ngIf="isHospitalizationIncidenceDescriptionVisible" class="mt-1">Der Wert kann aufgrund des großen Meldeverzugs der Krankenhäuser stark von der tatsächlichen Zahl abweichen.</p>
    </td>
    <td>
      <app-incidence-tag [hospitalization]="true" [decimalPoints]="2" [incidence]="germany.hospitalizationIncidence"></app-incidence-tag>
    </td>
  </tr>
  <tr>
    <td>Neuinfektionen</td>
    <td>
      {{ germany.newCases | thousandPoint }}
    </td>
  </tr>
  <tr>
    <td>Fälle insgesamt</td>
    <td class="td-desc" (click)="isTotalCasesDescVisible = !isTotalCasesDescVisible">
      <span>
        <img *ngIf="!isTotalCasesDescVisible" style="transform: rotate(-90deg)" src="assets/icons/caret-down-gray.svg" alt="" />
        <img *ngIf="isTotalCasesDescVisible" src="assets/icons/caret-down-gray.svg" alt="" />
      </span>
      {{ germany.totalCases | thousandPoint }}

      <p *ngIf="isTotalCasesDescVisible" class="mt-1">
        Damit wurden <u>{{ percentInfected | round: 1 }}%</u> der Deutschen mit COVID-19 infiziert.
      </p>
    </td>
  </tr>
  <tr>
    <td>Tote insgesamt</td>
    <td class="td-desc" (click)="isTotalDeathsDescVisible = !isTotalDeathsDescVisible">
      <span>
        <img *ngIf="!isTotalDeathsDescVisible" style="transform: rotate(-90deg)" src="assets/icons/caret-down-gray.svg" alt="" />
        <img *ngIf="isTotalDeathsDescVisible" src="assets/icons/caret-down-gray.svg" alt="" />
      </span>
      {{ germany.totalDeaths | thousandPoint }}

      <p *ngIf="isTotalDeathsDescVisible" class="mt-1">
        Damit sind <u>{{ percentDeaths | round: 1 }}%</u> der COVID-19 Infizierten an der Krankheit gestorben.
      </p>
    </td>
  </tr>
  <tr>
    <td>Erstgeimpfte</td>
    <td>{{ vaccination.numberOfPeopleAtLeastOnceVaccinated | thousandPoint }} ({{ vaccination.percentAtLeastOnceVaccinated }}%)</td>
  </tr>
  <tr>
    <td>Vollständig Geimpfte</td>
    <td>{{ vaccination.numberOfPeopleFullyVaccinated | thousandPoint }} ({{ vaccination.percentFullyVaccinated }}%)</td>
  </tr>
</table>
