<p>
  <span class="fw-5">Deutschland </span>
  <span class="fg-secondary">(Stand: {{ germany.lastUpdated | germanDate }})</span>
</p>

<div class="table mt-05">
  <!-- 7T Incidence -->
  <div class="col">
    <app-col-content>
      <ng-template #title>7-Tage-Inzidenz</ng-template>
      <ng-template #desc>COVID-19 Fälle in den letzten sieben Tagen (je 100T Einwohner)</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        <app-incidence-tag [incidence]="germany.incidence"></app-incidence-tag>
      </ng-template>
    </app-col-content>
  </div>

  <!-- New Cases -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Neuinfektionen</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        {{ germany.newCases | thousandPoint }}
      </ng-template>
    </app-col-content>
  </div>

  <!-- Total Cases -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Fälle insgesamt</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        {{ germany.totalCases | thousandPoint }}
      </ng-template>
      <ng-template #desc> Es haben sich {{ percentInfected | round: 2 }}% der Deutschen mit COVID-19 infiziert. </ng-template>
    </app-col-content>
  </div>

  <!-- Total Cases -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Tote insgesamt</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        {{ germany.totalDeaths | thousandPoint }}
      </ng-template>
      <ng-template #desc> Es sind {{ percentDeaths | round: 2 }}% der infizierten Deutschen an der Krankheit gestorben. </ng-template>
    </app-col-content>
  </div>

  <!-- First Time Vaccinated -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Erstgeimpfte</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>{{ vaccination.percentAtLeastOnceVaccinated }}%</ng-template>
      <ng-template #desc>
        BioNTech - {{ firstVaccination_percentBiontech | round: 2 }}%
        <br />
        AstraZeneca - {{ firstVaccination_percentAstra | round: 2 }}%
        <br />
        Moderna - {{ firstVaccination_percentModerna | round: 2 }}%
        <br />
        Janssen - {{ firstVaccination_percentJanssen | round: 2 }}%
      </ng-template>
    </app-col-content>
  </div>

  <!-- Fully Vaccinated -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Vollständig Geimpfte</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>{{ vaccination.percentFullyVaccinated }}%</ng-template>

      <ng-template #desc>
        BioNTech - {{ secondVaccination_percentBiontech | round: 2 }}%
        <br />
        Moderna - {{ secondVaccination_percentModerna | round: 2 }}%
        <br />
        AstraZeneca - {{ secondVaccination_percentAstra | round: 2 }}%
      </ng-template>
    </app-col-content>
  </div>
</div>
