<div class="tab-set">
  <div (click)="onChange(0)" [class.active]="index === 0" class="tab">
    <img src="assets/icons/home-solid.svg" alt="Home" />
  </div>
  <div (click)="onChange(1)" [class.active]="index === 1" class="tab">
    <img src="assets/icons/chart-line-solid.svg" alt="Line Chart" />
  </div>
  <div (click)="onChange(2)" [class.active]="index === 2" class="tab">
    <img src="assets/icons/laugh-solid.svg" alt="Laughing" />
  </div>
  <div (click)="onChange(3)" [class.active]="index === 3" class="tab">
    <img src="assets/icons/envelope-regular.svg" alt="Paper Plane" />
  </div>
  <div (click)="onChange(4)" [class.active]="index === 4" class="tab">
    <img src="assets/icons/user-cog-solid.svg" alt="User Cog" />
  </div>
</div>
