<div class="tab-set">
  <a routerLink="/home" routerLinkActive="active" class="tab">
    <img src="assets/icons/home-solid.svg" alt="Home" />
  </a>
  <a routerLink="/history" routerLinkActive="active" class="tab">
    <img src="assets/icons/chart-line-solid.svg" alt="Line Chart" />
  </a>
  <a routerLink="/top-districts" routerLinkActive="active" class="tab">
    <img src="assets/icons/medal-solid.svg" alt="Trophy" />
  </a>
  <a routerLink="/joke-of-the-day" routerLinkActive="active" class="tab">
    <img src="assets/icons/laugh-solid.svg" alt="Laughing Face" />
  </a>
  <a routerLink="/contact" routerLinkActive="active" class="tab">
    <img src="assets/icons/envelope-regular.svg" alt="Envelope" />
  </a>
  <a routerLink="/settings" routerLinkActive="active" class="tab">
    <img src="assets/icons/user-cog-solid.svg" alt="Settings" />
  </a>
</div>
