<div class="container">
  <app-tab-set (tabChange)="onTabChange($event)"></app-tab-set>

  <div *ngIf="tabIndex === 0" class="pt-2">
    <app-germany-table></app-germany-table>

    <div class="mt-2"></div>

    <app-bavaria-table></app-bavaria-table>

    <div class="mt-2"></div>

    <app-districts-table></app-districts-table>
  </div>

  <div *ngIf="tabIndex === 1" class="pt-1"></div>

  <div *ngIf="tabIndex === 2" class="pt-1">
    <app-joke-of-the-day></app-joke-of-the-day>
  </div>
</div>
