<div class="container">
  <app-tab-set></app-tab-set>

  <header class="mt-2 mb-1">
    <app-button [disabled]="isLoading" (appClick)="isCovidDailyVisible = true" text="COVID Daily"></app-button>
    <app-button
      [bottomText]="lastUpdated ? 'Stand: ' + (lastUpdated | germanDate) : ''"
      [disabled]="isLoading"
      (appClick)="onUpdateClick()"
      icon="sync-solid"
      [shadow]="true"
      text="Aktualisieren"
    ></app-button>
  </header>
  <ng-container *ngIf="data$ | async as data; else noData">
    <router-outlet></router-outlet>

    <app-covid-daily [data]="data" (close)="isCovidDailyVisible = false" *ngIf="isCovidDailyVisible"></app-covid-daily>
  </ng-container>

  <ng-template #noData>
    <div style="margin-top: 150px"></div>
    <app-spinner></app-spinner>
  </ng-template>
</div>
