<section class="mt-1">
  <h1 class="mb-1">
    Kontakt
    <a href="https://github.com/Kexplx/covid" target="_blank">
      <img src="assets/icons/github-brands.svg" alt="GitHub" />
    </a>
    <a (click)="onShare()">
      <img src="assets/icons/share-alt-solid.svg" alt="Share" />
    </a>
  </h1>

  <p class="fg-secondary">Haben Sie Feedback zur App, einen Feature-Wunsch oder generelle Anmerkungen? Über dieses Formular können Sie uns erreichen.</p>

  <div class="mt-1">
    <textarea [(ngModel)]="feedback" placeholder="Ihre Anmerkungen hier..."></textarea>
  </div>

  <div class="mt-1 ta-right mb-2">
    <app-button (appClick)="onSend()" [disabled]="!feedback" text="Senden"></app-button>
  </div>

  <app-alert *ngIf="showSuccess" text="Anmerkungen wurden erfolgreich gesendet"></app-alert>
</section>
