table {
  width: 100%;
  border-radius: 20px;

  border-radius: 3px;
}

td {
  padding: 10px;
  font-size: 0.8rem;
  border: 1px solid rgb(230, 230, 230);
  text-align: center;
  vertical-align: middle;
}

tr.col-header td {
  background-color: rgb(250, 250, 250);
}

.highlight {
  border-left: 2px solid #0082ff;
}
