<p class="table-label">
  Städte & Landkreise
  <span class="fw-4">(Stand: {{ districts[0].lastUpdated.replace(', 00:00 Uhr', '') }})</span>
</p>
<table class="mt-05">
  <tr class="col-header">
    <td>Name</td>
    <td>7T Inzidenz</td>
    <td>Fälle insges.</td>
    <td>Tote insges.</td>
  </tr>
  <tr *ngFor="let district of districts">
    <td style="position: relative">
      <div *ngIf="district.code === favoriteDistrictCode" class="hightlight-div"></div>
      {{ district | districtName }}
    </td>
    <td>
      <app-incidence-tag [incidence]="district.incidence"></app-incidence-tag>
    </td>
    <td>{{ district.totalCases | thousandPoint }}</td>
    <td>{{ district.totalDeaths | thousandPoint }}</td>
  </tr>
</table>
