<p>
  <span class="fw-5">Städte & Landkreise </span>
  <span class="fg-secondary">(Stand: {{ districts[0].lastUpdated.replace(', 00:00 Uhr', '') }})</span>
</p>

<div class="table mt-05">
  <div class="col">
    <app-col-content>
      <ng-template #title> Name </ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title> 7-Tage-Inzidenz </ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title> Fälle insges. </ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title> Tote insges. </ng-template>
    </app-col-content>
  </div>

  <ng-container *ngFor="let district of districts">
    <div [ngClass]="{ 'fw-5': district.code === favoriteDistrictCode }" class="col">
      <app-col-content>
        <ng-template #title>
          {{ district | districtName }}
        </ng-template>
      </app-col-content>
    </div>
    <div class="col">
      <app-col-content>
        <ng-template #title>
          <app-incidence-tag [incidence]="district.incidence"></app-incidence-tag>
        </ng-template>
      </app-col-content>
    </div>

    <div class="col">
      <app-col-content>
        <ng-template #title>
          {{ district.totalCases | thousandPoint }}
        </ng-template>
      </app-col-content>
    </div>

    <div class="col">
      <app-col-content>
        <ng-template #title>
          {{ district.totalDeaths | thousandPoint }}
        </ng-template>
      </app-col-content>
    </div>
  </ng-container>
</div>
