.table {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  --border-radius: 5px;
  --border: 1px solid #e6e6e6;
}

.col {
  text-align: center;
  border: var(--border);
  border-top: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col app-col-content {
  flex: 1;
}

.col:nth-child(4n) {
  border-right: var(--border);
}

.col:nth-child(1),
.col:nth-child(2),
.col:nth-child(3),
.col:nth-child(4) {
  border-top: var(--border);
  background-color: rgb(250, 250, 250);
}

.col:first-child {
  border-start-start-radius: var(--border-radius);
}

.col:nth-child(4) {
  border-start-end-radius: var(--border-radius);
}

.col:last-child {
  border-end-end-radius: var(--border-radius);
}

.col:nth-last-child(4) {
  border-end-start-radius: var(--border-radius);
}

.hightlight-div {
  position: absolute;
  width: 6px;
  top: 0;
  left: 0px;
  height: 100%;
  background-color: #1abc9c;
}
