<div [class.isFirst]="index === 0" class="card">
  <img *ngIf="index === 0" src="assets/icons/medal.svg" alt="" />
  <div class="card-header">
    <span class="card-header__title">{{ district.name }}</span>
    <span [ngStyle]="{ color: fontColor, backgroundColor: backgroundColor }" class="card-header__incidence">{{ district.incidence | round: 0 }}</span>
  </div>

  <div class="card-body mt-2">{{ district.type }} in {{ district.state }} mit {{ district.population! | thousandPoint }} Einwohnern</div>
</div>
