<button [class.small]="small" [class.shadow]="shadow" (click)="onClick()" [class.disabled]="disabled" *ngIf="icon; else noIcon">
  <div class="btn-content">
    <img [src]="'assets/icons/' + icon + '.svg'" />
    {{ text }}
    <small *ngIf="bottomText" class="fg-secondary fw-4">{{ bottomText }}</small>
  </div>
</button>

<ng-template #noIcon>
  <button [class.small]="small" (click)="onClick()" [class.shadow]="shadow" [class.disabled]="disabled">
    <div>
      {{ text }}
    </div>
  </button>
</ng-template>
