<p class="table-label">
  Bayern
  <span class="fw-4">(Stand: {{ bavaria.lastUpdated | germanDate }})</span>
</p>
<table class="mt-05">
  <tr>
    <td>7T Inzidenz</td>
    <td>
      <app-incidence-tag [incidence]="bavaria.incidence"></app-incidence-tag>
    </td>
  </tr>
  <tr>
    <td class="hospitalization-desc" (click)="isHospitalizationIncidenceDescriptionVisible = !isHospitalizationIncidenceDescriptionVisible" style="position: relative">
      <span>
        <img *ngIf="!isHospitalizationIncidenceDescriptionVisible" style="transform: rotate(-90deg)" src="assets/icons/caret-down-solid.svg" alt="" />
        <img *ngIf="isHospitalizationIncidenceDescriptionVisible" src="assets/icons/caret-down-solid.svg" alt="" />
      </span>
      7T Hospitalisierungsinzidenz
      <p *ngIf="isHospitalizationIncidenceDescriptionVisible" class="mt-1">Die Hospitalisierungsinzidenz liegt nur auf Bundeslandebene vor und nicht auf Kreisebene.</p>
    </td>
    <td>
      <app-incidence-tag [hospitalization]="true" [decimalPoints]="2" [incidence]="bavaria.hospitalizationIncidence"></app-incidence-tag>
    </td>
  </tr>
  <tr>
    <td>Fälle insgesamt</td>
    <td>
      {{ bavaria.totalCases | thousandPoint }}
    </td>
  </tr>
  <tr>
    <td>Tote insgesamt</td>
    <td>
      {{ bavaria.totalDeaths | thousandPoint }}
    </td>
  </tr>
  <tr>
    <td>Erstgeimpfte</td>
    <td>{{ vaccination.bavaria_numberOfPeopleAtLeastOnceVaccinated | thousandPoint }} ({{ vaccination.bavaria_percentAtLeastOnceVaccinated }}%)</td>
  </tr>
  <tr>
    <td>Vollständig Geimpfte</td>
    <td>{{ vaccination.bavaria_numberOfPeopleFullyVaccinated | thousandPoint }} ({{ vaccination.bavaria_percentFullyVaccinated }}%)</td>
  </tr>
</table>
