<p>
  <span class="fw-5">Bayern </span>
  <span class="fg-secondary">(Stand: {{ bavaria.lastUpdated | germanDate }})</span>
</p>

<div class="table mt-05">
  <!-- 7T Incidence -->
  <div class="col">
    <app-col-content>
      <ng-template #title> 7T Inzidenz </ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        <app-incidence-tag [incidence]="bavaria.incidence"></app-incidence-tag>
      </ng-template>
    </app-col-content>
  </div>

  <!-- Total Cases -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Fälle insgesamt</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        {{ bavaria.totalCases | thousandPoint }}
      </ng-template>
      <ng-template #desc> Es haben sich {{ percentInfected | round: 2 }}% der Bayern mit COVID-19 infiziert. </ng-template>
    </app-col-content>
  </div>

  <!-- Total Cases -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Tote insgesamt</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>
        {{ bavaria.totalDeaths | thousandPoint }}
      </ng-template>
      <ng-template #desc> Es sind {{ percentDeaths | round: 2 }}% der infizierten Bayern an der Krankheit gestorben. </ng-template>
    </app-col-content>
  </div>

  <!-- First Time Vaccinated -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Erstgeimpfte</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>{{ vaccination.bavaria_percentAtLeastOnceVaccinated }}%</ng-template>
      <ng-template #desc>
        BioNTech - {{ firstVaccination_percentBiontech | round: 2 }}%
        <br />
        AstraZeneca - {{ firstVaccination_percentAstra | round: 2 }}%
        <br />
        Moderna - {{ firstVaccination_percentModerna | round: 2 }}%
        <br />
        Janssen - {{ firstVaccination_percentJanssen | round: 2 }}%
      </ng-template>
    </app-col-content>
  </div>

  <!-- Fully Vaccinated -->
  <div class="col">
    <app-col-content>
      <ng-template #title>Vollständig Geimpfte</ng-template>
    </app-col-content>
  </div>
  <div class="col">
    <app-col-content>
      <ng-template #title>{{ vaccination.bavaria_percentFullyVaccinated }}%</ng-template>

      <ng-template #desc>
        BioNTech - {{ secondVaccination_percentBiontech | round: 2 }}%
        <br />
        Moderna - {{ secondVaccination_percentModerna | round: 2 }}%
        <br />
        AstraZeneca - {{ secondVaccination_percentAstra | round: 2 }}%
      </ng-template>
    </app-col-content>
  </div>
</div>
