.table {
  display: grid;
  grid-template-columns: 60% 40%;

  --border-radius: 5px;
}

.col {
  text-align: center;
  border: 1px solid #e6e6e6;
  border-top: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col app-col-content {
  flex: 1;
}

.col:nth-child(1),
.col:nth-child(2) {
  border-top: 1px solid #e6e6e6;
}

.col:first-child {
  border-start-start-radius: var(--border-radius);
}

.col:nth-child(2) {
  border-start-end-radius: var(--border-radius);
}

.col:last-child {
  border-end-end-radius: var(--border-radius);
}

.col:nth-last-child(2) {
  border-end-start-radius: var(--border-radius);
}

.col:nth-child(odd) {
  background-color: rgb(250, 250, 250);
}

.col:nth-child(even) {
  border-left: none;
}
