<section class="mt-1" *ngIf="data$ | async as data">
  <h1>Einstellungen</h1>
  <app-settings-form [listOfDistrictHistories]="data.listOfDistrictHistories"></app-settings-form>

  <div class="mt-2">
    <app-divider>Metainformationen</app-divider>
  </div>

  <app-users-bar-chart [fingerprintDocuments]="data.fingerprintDocuments"></app-users-bar-chart>

  <p class="mt-1">
    <small>Bisheriger Rekord: {{ data.fingerPrintDocumentWithMaxFingerprints.fingerprintCount }} Nutzer am {{ data.fingerPrintDocumentWithMaxFingerprints.created | germanDate }} </small>
  </p>

  <h3 class="mt-2 mb-1">App Version</h3>

  <p *ngIf="hasUpdate$ | async; else noUpdates">Ihre Version ist veraltet &#10008;</p>
  <ng-template #noUpdates>
    <p>Sie verwenden die neueste Version &#10004;</p>
  </ng-template>

  <p class="mt-1 mb-05">
    <small>{{ localSha }} </small>
  </p>
</section>
