<section class="mt-1">
  <h1>Neuigkeiten</h1>

  <div class="mt-2">
    <app-divider>Corona-Regeln vom 02.12.2021</app-divider>
  </div>

  <p class="mt-1" style="text-align: justify">
    <small class="fg-secondary"
      >Die folgenden Regeln sind die Ergebnisse der Bund-Länderberatung vom 02.12.2021. Die Maßnahmen definieren den Mindeststandard, der von jedem Bundesland durchgesetzt werden muss. Bei Bedarf
      (z.B. bei hoher Inzidenz) können die Bundesländer diese Regeln noch verschärfen aber nicht mehr auflockern.</small
    >
  </p>

  <div class="card mt-1">
    <div class="card-header"><h3>Einzelhandel</h3></div>
    <div class="card-body">Im Einzelhandel gilt 2G mit Außnahme von Supermärkten und Drogerien.</div>
  </div>

  <div class="card mt-1">
    <div class="card-header"><h3>Freizeit</h3></div>
    <div class="card-body">In Freizeiteinrichtungen (z.B. Kinos, Restaurants, Bars oder Theater) gilt 2G. Die Einrichtungen sind zur Kontrolle der jeweiligen Nachweise verpflichtet.</div>
  </div>

  <div class="card mt-1">
    <div class="card-header"><h3>Diskos und Clubs</h3></div>
    <div class="card-body">Diskos und Clubs müssen ab einer lokalen 7-Tage-Inzidenz über 350 schließen.</div>
  </div>

  <div class="card mt-1">
    <div class="card-header"><h3>Kontaktbeschränkungen für Ungeimpfte</h3></div>
    <div class="card-body">Ungeimpfte dürfen sich nur noch mit zwei weiteren Personen im eigenen Haushalt treffen (quasi Lockdown).</div>
  </div>

  <div class="card mt-1">
    <div class="card-header"><h3>Veranstaltungen</h3></div>
    <div class="card-body">Beschränkt auf 5.000 Personen (drinnen) und 15.000 Personen (draußen).</div>
  </div>
</section>
