<div class="mt-2">
  <label>
    <small>Nachkommastellen:</small>

    <div class="input-container mt-05">
      <input (focus)="$any($event.target).select()" [formControl]="decimalPointsControl" type="number" />
      <span>
        78,29198 ~
        <app-incidence-tag [decimalPoints]="decimalPointsControl.value" [incidence]="78.29198"></app-incidence-tag>
      </span>
    </div>
    <p *ngIf="decimalPointsControl.errors?.['required']" class="mt-05"><small class="fg-error">Bitte Wert eingeben.</small></p>
    <div *ngIf="decimalPointsControl.errors?.['max'] || decimalPointsControl.errors?.['min']" class="mt-05"><small class="fg-error">Wert muss zwischen 0 - 10 liegen.</small></div>
  </label>
</div>

<div class="mt-2">
  <div class="search-action-container">
    <div>
      <label>
        <small>Stadt oder Landkreis hinzufügen ({{ selectedDistricts.length }}/411):</small>
      </label>

      <app-district-auto-complete (districtSelect)="onDistrictSelect($event)"></app-district-auto-complete>
    </div>

    <app-button (appClick)="onGetLocation()" height="29px" text="Wo bin Ich?"></app-button>
  </div>

  <!-- Current user location -->
  <p class="ta-center mt-1" *ngIf="currentUserLocation">
    <small class="fg-secondary"
      >Sie sind in <small class="fw-5">{{ currentUserLocation }}</small></small
    >
  </p>

  <p class="ta-center mt-1" *ngIf="currentUserLocationHasError">
    <small class="fg-secondary fg-error fw-5">Uns fehlt die Berechtigung um auf Ihren Standort zuzugreifen.</small>
  </p>

  <ul class="mt-05">
    <li *ngFor="let district of selectedDistricts">
      <div class="district-list-item-container" [class.highlight]="lastAddedDistrictPreview === district">
        <span>{{ district.name }} {{ district.type | districtType }}</span>
        <div>
          <img *ngIf="favoriteDistrictCode === district.code" src="assets/icons/star-filled.svg" alt="Star filled" class="mr-2" />
          <img *ngIf="favoriteDistrictCode !== district.code" (click)="onMakeFavorite(district)" src="assets/icons/star-outlined.svg" alt="Star outlined" class="mr-2" />
          <img (click)="onDistrictRemove(district)" src="assets/icons/minus-solid.svg" alt="Remove" />
        </div>
      </div>
    </li>
  </ul>

  <app-alert *ngIf="isErrorAlertVisible" [error]="true" text="Es muss mind. ein Landkreis gewählt werden"></app-alert>
</div>

<div class="mt-2 mb-1">
  <app-button [disabled]="decimalPointsControl.invalid || !hasChanges()" (appClick)="onSave()" text="Speichern"></app-button>
</div>

<app-alert *ngIf="isSuccessAlertVisible" text="Einstellungen gespeichert"></app-alert>
