<h3 class="mt-1">Gibt es die App auch in meinem {{ isIos ? 'App' : 'Play' }} Store?</h3>
<p class="mt-05">
  Nein, diese App ist nur als Webseite verfügbar. Um dennoch vom Komfort einer nativen Handy App zu profitieren können Sie diese Seite mit den folgenden Schritten zu ihrem Startbildschirm hinzufügen:
</p>

<ol class="mt-1">
  <li class="ml-1">1. Klicken Sie auf das <img src="assets/icons/ellipsis-v-solid.svg" style="width: 15px; height: 15px; vertical-align: middle" alt="" /> Symbol in Ihrem Browser</li>
  <li class="ml-1">2. Wählen Sie im folgenden Menü <span class="fw-5">"Zum Startbildschirm hinzufügen"</span> aus und folgen sie den Schritten</li>
</ol>
