.spinner-container {
  display: grid;
  justify-items: center;
  margin: 20px;
  gap: 10px 0;
  font-weight: 500;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

img {
  animation: spin 3s linear infinite;
  width: 40px;
  height: 40px;
}
