<div (click)="onClose()" class="backdrop">
  <div (click)="$event.stopPropagation()" class="content">
    <img class="img-close" (click)="onClose()" src="assets/icons/close.svg" alt="Close" />

    <!-- Header -->
    <div>
      Tagesbericht | <span class="fw-5">{{ lastUpdated | germanDate }}</span>
    </div>

    <!-- <div class="stat-container mt-2">
      <p class="stat">
        {{ newCases | thousandPoint }}
      </p>
      <p class="mt-05"><small class="fg-secondary">Neuinfektionen in Deutschland</small></p>
    </div> -->

    <div class="stat-container mt-2">
      <p class="stat">
        {{ incidenceGermany | round: 0 }}

        <app-diff [value]="incidenceGermanyDiffToYesterday"></app-diff>
      </p>
      <p class="mt-05"><small class="fg-secondary">7-Tage-Inzidenz in Deutschland</small></p>
    </div>

    <div class="stat-container mt-2">
      <p class="stat">
        {{ incidenceDistrict | round: 0 }}

        <app-diff [value]="incidenceDistrictDiffToYesterday"></app-diff>
      </p>
      <p class="mt-05">
        <small class="fg-secondary">7-Tage-Inzidenz in {{ districtName }}</small>
      </p>
    </div>
  </div>
</div>
